.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center; /* Center the cards */
    align-items: stretch; /* Ensure all cards stretch to the same height */
    padding: 20px; /* Add padding around the container */
}

/* Custom Signup Button */
.custom-signup-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #c0392b;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.custom-signup-btn:hover {
    background-color: darkred;
    transform: scale(1.05);
    text-decoration: none;
    color: #fff;
}

.custom-signup-btn:active {
    transform: scale(1);
}

/* For the text centering and spacing around the button */
.text-center.mb-4 {
    margin-bottom: 30px;
}


.blog-card {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between header, body, and footer */
    background-color: #ececec;
    border: 1px solid #d3d3d3; /* Light gray border */
    border-radius: 8px;
    width: 300px; /* Fixed width for consistent sizing */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    margin-right: .5rem;
}


.blog-card-body {
    flex-grow: 1; /* Allow body to grow and take available space */
}

/*
.blog-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
*/

.blog-card-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
}

.blog-title {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.blog-body {
    font-size: 0.8em;
    margin: 0;
    margin-top: 1.5rem;
}

.btn-view {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 4px 5px;
    border: 2px solid #c0392b; /* Added border color */
    border-radius: 4px;
    font-size: .6rem;
    color: #c0392b; /* Font color changed */
    text-decoration: none;
    background-color: transparent; /* Changed background to white */
    transition: background-color 0.3s, transform 0.2s;
}

.btn-view:hover {
    background-color: #c0392b; /* Background color on hover */
    color: #fff; /* Font color on hover */
    transform: scale(1.05);
    text-decoration: none;
}

.blog-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.header-container {
    position: relative; /* Needed for positioning the overlay */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10%; /* Add padding to give some space around the content */
    color: white; /* Text color to make it stand out against the background */
    font-size: 4rem; /* Larger font size for the quote */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-container::before {
    content: ''; /* Required for a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Ensure the overlay is behind the text */
}

.header-container > * {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay is on top of everything */
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Spinner */
.loading-spinner {
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #c0392b; /* Red color for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}


/* Spin Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 1200px) {
    .header-container {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 600px) {
    .header-container {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}