.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center; /* Center the cards */
    align-items: stretch; /* Ensure all cards stretch to the same height */
    padding: 20px; /* Add padding around the container */
}

.blog-card {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between header, body, and footer */
    background-color: #ececec;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px; /* Fixed width for consistent sizing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; /* Smooth transition for hover effect */
}

.blog-card-body {
    flex-grow: 1; /* Allow body to grow and take available space */
}

.blog-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.blog-card-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
}

.blog-title {
    font-size: 1.2rem;
    margin: 0;
}

.blog-body {
    font-size: 0.8em;
    margin: 0;
    margin-top: 1.5rem;
}

.btn-view {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px;
    border: 2px solid #c0392b; /* Added border color */
    border-radius: 4px;
    font-size: .8rem;
    color: #c0392b; /* Font color changed */
    text-decoration: none;
    background-color: transparent; /* Changed background to white */
    transition: background-color 0.3s, transform 0.2s;
}

.btn-view:hover {
    background-color: #c0392b; /* Background color on hover */
    color: #fff; /* Font color on hover */
    transform: scale(1.05);
    text-decoration: none;
}

.blog-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.header-container {
    background-image: url('/images/prayer1.jpg'); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 20%; /* Add padding to give some space around the content */
    color: white; /* Text color to make it stand out against the background */
    font-size: 4rem; /* Larger font size for the quote */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay is on top of everything */
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Spinner */
.loading-spinner {
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #c0392b; /* Red color for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}


/* Spin Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 1200px) {
    .header-container {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 600px) {
    .header-container {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}