/* Profile Banner Styles */
.profile-banner-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.container-user-profile {
    width: 100%;
    margin-top: 15rem;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-avatar-profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-banner {
    position: relative;
    width: 100%;
    height: 500px;
}

.profile-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-banner-default {
    background-color: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.profile-info {
    /*
    position: absolute;
    top: 32rem;
    left: 20rem;
    */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.user-avatar-profile-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #c0392b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
}

.profile-info-name {
    font-size: 2rem;
    margin-left: 1rem;
}